# Logs
*.log

# IDE folders
.idea/

# Dependency directories
node_modules/

# dotenv environment variables file
.env

# Webpack bundles
sub-projects/hub/public/*.map
sub-projects/hub/public/*.json
sub-projects/hub/public/*.js

# Generated Documentation
sub-projects/hub/docs/
sub-projects/device/utils/__pycache__/compare.cpython-36.pyc
