# Logs
*.log

# IDE folders
.idea/

# Dependency directories
node_modules/

# settings files
oauth.txt
.env

# Webpack bundles
sub-projects/hub/public/*
!sub-projects/hub/public/app/index.html
!sub-projects/hub/public/oauth/index.html

# Generated Documentation
sub-projects/hub/docs/