.centered {
    position: absolute;
    padding: 20px;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 450px
}

.home-button {
    margin: 0px;
    padding: 0px;
}
